{% extends "dashboard/base.twig" %}

{% block content %}
    <div class="container">
        <div id="postings" class="row list-group">
            <h3>Welcome to the Job Posting Dashboard</h3>
        </div>
    </div>
{% endblock %}